# Ignore the resource directory because it contains the raw data.
resources/

# Ignore temporary files
.ipynb_checkpoints/
*temp*.py
*temp*.ipynb

# Ignore things for the messy process that is versioning with jupyter.
old-notebooks/
*WIP*.ipynb
*WIP.ipynb



