train_test_data/*
CrossCat/data/*
# Ignore vim swap files.
*.swp
# Python artefacts
*.pyc
# Ignore loom files.
loom-files*/
# Ignore data files.
*.csv
*.bdb

# Ignore files that were deleted but are supposingly still open somewhere
.fuse_hidden*
